body {
    font-family: Arial;
    text-align: center;
    padding: 30px;
}

input {
    padding: 8px;
    width: 250px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 8px;
    padding: 8px;
    background: #eee;
    cursor: pointer;
}
